.custom-btn {

  padding: 14px 30px;

  border-radius: 10px;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;

}


/* Blue Button */

.primary {

  background: #2563eb;

  color: white;

}


/* Outline Button */

.outline {

  background: transparent;

  color: #2563eb;

  border: 2px solid #2563eb;

}


.custom-btn:hover {

  transform: translateY(-3px);

}


/* Hover */

.primary:hover {

  background: #1d4ed8;

}


.outline:hover {

  background: #2563eb;

  color: white;

}