.footer {

  width: 100%;

  padding: 30px;

  text-align: center;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(10px);

  color: white;

  margin-top: 40px;

}


.footer h3 {

  font-size: 22px;

  margin-bottom: 10px;

}


.footer p {

  font-size: 15px;

  color: #e0f2fe;

}


.copyright {

  margin-top: 15px;

  font-size: 13px;

}